<p>Hello, {{ organizer.name }}.</p>
<p>A new attendant registered for your {{ meetup.title }} meetup!</p>
<p><strong>Name: </strong> {{ attendant.name }}</p>
<p><strong>E-mail: </strong> {{ attendant.email }}</p>
<p>Good luck with your meetup!</p>
